* {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  font-family: Poppins, sans-serif;
  font-weight: 100;
  font-style: normal;
}

.template {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.icon {
  display: grid;
  text-align: justify;
  margin-top: 5px;
}

span {
  font-size: 12px;
}

svg {
  width: 20px;
  height: 20px;
}

.always button {
  padding: 10px;
  border-radius: 15px;
  background-color: #e4441c;
  border: none;
  color: white;
}

.heaven {
  font-size: 20px;
  margin-top: 30px;
}

.icon svg {
  margin-top: 10px;
  gap: 10px;
}

.name {
  margin-top: 6px;
}

.bars {
  display: none;
}

.burger {
  margin-top: 20px;
  padding-left: 20px;
  background-color: #e4441c;
  color: #fff;
}

.burger h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.burger button {
  margin-top: 50px;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background-color: #fbfb5b;
}

img {
  width: 300px;
  margin-top: 1rem;
}

@media screen and (min-width: 768px) {
  .template {
    display: flex;
    justify-content: space-between;
  }

  .bars {
    display: flex;
    gap: 2rem;
  }

  .burger button {
    padding: 20px;
    font-size: 15px;
  }

  .always {
    display: flex;
    justify-content: space-between;
  }

  .burger {
    display: flex;
    height: 500px;
  }

  .burger p {
    font-size: 25px;
  }

  .burger h2 {
    font-size: 4rem;
  }

  img {
    height: 500px;
    width: 400px;
  }

  .seve {
    font-size: 20px;
    margin-top: 40px;
  }

  .heaven button {
    font-size: 20px;
    margin-top: 25px;
  }

  .heaven {
    font-size: 2rem;
  }

  svg {
    height: 100%;
  }

  .heaven svg {
    margin: 10px;
    width: 10%;
  }

  .ctn {
    display: flex;
    justify-content: space-between;
  }

  .name {
    font-size: 20px;
  }

  .name svg {
    width: 20%;
  }
}
