* {
  margin: 0;
  padding: 0;
}

.header-name {
  font-family: "Matemasie", sans-serif;
  font-weight: 400;
  font-style: normal;
  color:#e4441c;
  font-size: 2rem;
}

header {
  padding: 15px;
}


body {
  font-family: Poppins, sans-serif;
  font-weight: 100;
  font-style: normal;
}

.main-head {
  background-image: url("../images/background\ menu.jpg");
  height: 400px;
  color: #fff;
  background-size: cover;
}

.main-p {
  width: 85%;
  text-align: center;
  justify-self: center;
}

.main-head h2 {
  font-size: 1.7rem;
  padding-top: 60px;
}

.main-head p {
  font-weight: 300;
}

.section-two {
  margin-top: 60px;
}

.section-twob {
  width: 95%;
  margin-left: 10px;
}

.section-two h2 {
  text-align: center;
}

.appetizers,
.appetizer-two,
.appetizer-three,
.appetizer-four {
  margin-top: 40px;
  margin-left: 10px;
}

.appetizers img,
.appetizer-two img,
.appetizer-three img,
.appetizer-four img {
  width: 95%;
  margin-left: 5px;
}

.appetizers p,
.appetizer-two p,
.appetizer-three p,
.appetizer-four p {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.appetizers h4,
.appetizer-two h4,
.appetizer-three h4,
.appetizer-four h4 {
  margin-top: 10px;
  margin-left: 10px;
}

.order {
  padding: 13px;
  background-color: #e4441c;
  color: #fff;
  border-radius: 20px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
  width: 150px;
  margin-top: 30px;
}

.buttond {
  justify-self: center;
}

.dishes {
  background-color: #e4441c;
  margin-top: 40px;
  color: #fff;
  padding-left: 20px;
}

.one-div img {
  width: 300px;
}

.butt {
  padding: 10px;
  color: #fff;
  background-color: #eefd12;
  border-radius: 20px;
  margin-bottom: 40px;
  border: none;
  margin-top: 40px;
  font-weight: 600;
}

.dishesp h2 {
  padding-top: 30px;
}

.dishesp {
  margin-bottom: 40px;
}

.desserts-head {
  padding-top: 20px;
}

.desserts-head h2 {
  margin-top: 30px;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

.desserts-head h4 {
  font-weight: 300;
}

.ma img {
  width: 95%;
  margin-top: 40px;
  margin-left: -10px;
}

.ma {
  text-align: center;
}

.desserts {
  margin-left: 20px;
}

@media screen and (min-width: 768px) {
  .main-head {
    height: 500px;
  }
  .main-p h2{
    padding-top: 150px;
    font-size: 4rem;
  }

  .main-p p {
    margin-top: 30px;
    font-size: 1.2rem;
  }

  .section-twob {
    text-align: center;
  }

  .section-twob p {
    margin-top: 15px;
  }

  .appetizers,
  .appetizer-two,
  .appetizer-three,
  .appetizer-four {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .appetizers img,
  .appetizer-two img,
  .appetizer-three img,
  .appetizer-four img {
    height: 400px;
  }

  .appetizers h4,
  .appetizer-two h4,
  .appetizer-three h4,
  .appetizer-four h4 {
    margin-top: 100px;
  }

  .dish-div {
   display: grid;
   grid-template-columns: 48% 48%;
   margin-top: 60px;
}

  .hangbur,
  .chees-bur,
  .chicken-fries,
  .pizza,
  .spegetti,
  .frie-rice {
    text-align: center;
  }

  .dishesp {
    text-align: center;
    margin-top: 15px;
  }

  .ma-div,
  .maa-div,
  .maaa-div,
  .maaaa-div {
    width: 400px;
    background-color: #eefd12;
    margin-bottom: 20px;
    justify-self: center;
    text-align: center;
    padding-bottom: 10px;
  }

  .mama {
    display: flex;
    gap: 1rem;
  }

  .desserts-head h2 {
    font-size: 2.3rem;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .desserts-head h4 {
    text-align: center;
    margin-bottom: 40px;
  }

  .ma img {
    height: 300px;
    margin-left: 5px;
  }
}

